.Python
bin
etc
include
lib
pip-selfcheck.json
share
.ipynb_checkpoints
.DS_Store
.vscode
__pycache__
*.pyc

# Ignore all latex files except .tex
*.aux
*.log
*.toc
*.pdf
*.fdb_latexmk
*.synctex.gz
*.snm
*.vrb
*.nav
*.out
*.bbl
*.blg
*.bcf
*.fls
*.idx
*.ilg
*.ind
*.run.xml
*.thm
